$fontFamily: serif;
$bodyBackground: #efefef;
$articleBackground: white;
$mainColor: #fc5830;
$articleHeader: #617d8a;
$lineColor: #617e8b;
$postDescription: #bfbfbf;
$paragraphColor: #767676;
$formColor: #767676;
